@model VerbalCounting.Web.Providers.Example

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Left @Model.Operator @Model.Right = ?</p>
</div>

